<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>

<table>
  <thead>
  <tr>
    <th><b>Username</b>&nbsp;</th>
    <th><b>Email</b>&nbsp;</th>
    <th colspan="3"><b>Actions</b>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @authors.each do |author| %>
      <tr>
        <td><%= author.username %>&nbsp;</td>
        <td><%= author.email %>&nbsp;</td>
        <td><%= link_to 'Show', author %>&nbsp;</td>
        <td><%= link_to 'Edit', edit_author_path(author) %>&nbsp;</td>
        <td><%= link_to 'Destroy', author, method: :delete, data: {confirm: 'Are you sure?'} %>&nbsp;</td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path %>
